<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
	<link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="/assets/bootstrap.css" type="text/css" media="screen">
	<link rel="stylesheet" href="/assets/responsive.css" type="text/css" media="screen">
	<link rel="stylesheet" href="/assets/style.css" type="text/css" media="screen">
	<link rel="stylesheet" href="/assets/touchTouch.css" type="text/css" media="screen">
	<link rel="stylesheet" href="/assets/kwicks-slider.css" type="text/css" media="screen">
	<link rel='stylesheet' href="/assets/google_apis_fonts.css" type='text/css'>
	<script type="text/javascript" src="/assets/jquery.js"></script>
  <script type="text/javascript" src="/assets/superfish.js"></script>
	<script type="text/javascript" src="/assets/jquery.flexslider-min.js"></script>
	<script type="text/javascript" src="/assets/jquery.kwicks-1.5.1.js"></script>
	<script type="text/javascript" src="/assets/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="/assets/jquery.cookie.js"></script>    
	<script type="text/javascript" src="/assets/touchTouch.jquery.js"></script>
	<script type="text/javascript">if($(window).width()>1024){document.write("<"+"script src='/assets/jquery.preloader.js'></"+"script>");}	</script>
	
	<script>		
		 jQuery(window).load(function() {	
		 $x = $(window).width();		
	if($x > 1024)
	{			
	jQuery("#content .row").preloader();    }	
		 
     jQuery('.magnifier').touchTouch();			
    jQuery('.spinner').animate({'opacity':0},1000,'easeOutCubic',function (){jQuery(this).css('display','none')});	
  		  }); 
				
	</script>
</head>
<body>
	<!--============================== header =================================-->
	<header>
    <div class="container clearfix">
    	<div class="row">
        <div class="span12">
        	<div class="navbar navbar_">
            <div class="container">
            	<h1 class="brand brand_"><a href="index.html"><img alt="" src="/assets/logo.gif"> </a></h1>
            	<a class="btn btn-navbar btn-navbar_" data-toggle="collapse" data-target=".nav-collapse_">Menu <span class="icon-bar"></span> </a>
            	<div class="nav-collapse nav-collapse_  collapse">
                <ul class="nav sf-menu">
                	<li class="active"><a href="index.html">About</a></li>
                	<li class="sub-menu"><a href="index-1.html">Services</a>
                    <ul>
                    	<li><a href="#">Dolore </a></li>
                    	<li><a href="#">Consecte</a></li>
                    	<li><a href="#">Conseq</a></li>
                  	</ul>
                  </li>
	                <li><a href="index-2.html">Folio</a></li>
	                <li><a href="index-3.html">Blog</a></li>
	                <li><a href="index-4.html">Contact</a></li>
	              </ul>
              </div>
          	</div>
          </div>
      	</div>
      </div>
 		</div>
  </header>
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: "alert alert-info" %>
  <% end %>
	<%= yield %>
	
	<!--============================== footer =================================-->
		<footer>
      <div class="container clearfix">
    		<ul class="list-social pull-right">
          <li><a class="icon-1" href="#"></a></li>
          <li><a class="icon-2" href="#"></a></li>
          <li><a class="icon-3" href="#"></a></li>
          <li><a class="icon-4" href="#"></a></li>
        </ul>
    		<div class="privacy pull-left">Website Owned by <a href="http://www.facebook.com/anildias" target="_blank" rel="nofollow">Dias Davis</a></div>
  		</div>
    </footer>
	
</body>
</html>
